<table class="table table-striped table-primary">
    <thead>
        <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Prioridade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of eventos" [ngClass]="event.prioridade == 'Alta' ? 'table table-striped table-warning' : 'table table-striped table-primary'">
            <th scope="row">{{event.id}}</th>
            <td>{{event.desc}}</td>
            <td>{{event.data}}</td>
            <td>{{event.prioridade}}</td>
        </tr>
    </tbody>
  </table>